@charset "UTF-8";

@media screen and (max-width: 768px) {
  header .drawer {
      visibility: visible;
      width: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      border-top: solid 4px #aaaaaa;
      cursor: pointer;
      z-index: 100;
    }
  
    header .drawer::before,
    header .drawer::after {
      content: "";
      display: block;
      width: 24px;
      background: #aaaaaa;
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.5s;
    }
  
    header .drawer::before {
      top: 6px;
    }
  
    header .drawer::after {
      top: 15px;
    }
    header .header-list{
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 50;
      background: #fff;
    }
    header .header-list ul{
      display: block;
    }
    header .header-list ul li{
      margin: 5% auto;
    }
    header .header-list ul li a{
      line-height: 3;
      font-size: 1.75rem;
    }
    header .header-list ul li.contact{
      width: 30%;
    }
        body.nav-open header .drawer {
          border-top: 0;
        }
    
        body.nav-open header .drawer::before {
          top: 9px;
          transform: rotate(-45deg);
        }
    
        body.nav-open header .drawer::after {
          top: 9px;
          transform: rotate(45deg);
        }

/*メイン*/
.header-icon{
  padding-left: 0;
}
.header-sub{
  width: 90%;
}
.header-main{
  padding-left: 0;
  justify-content: flex-start;
}
.right{
  padding-top: 5em;
  padding-left: 2em;
}
.header-left{
  width: 50%;
  text-align: ;
}
.apli img{
  padding-left: 0;
}
.download{
  display: flex;
  padding-left: 15em;
  padding-top: 5em;
}
.download img{
  width: 150px;
}
.introdaction-main{
  align-items: flex-start;
}
.introdaction-text-left{
  width: 40%;
  padding-left: 2em;
}
.introdaction-text-left-two{
  width: 43%;
  padding-right: 3em
}
.introdaction-text-right-two{
  padding-right: ;
}
.introdaction-main-three{
  align-items: flex-start;
}
.howto-icon{
  margin: 0 auto;
  padding-left: 11em;
}
.QA-main{
  width: 80%;
}
.QA-wrap{
  margin-bottom: 3em;
}
.news-wrap{
  margin: 0 auto;
  width: 70%
}
.contact-btn{
  margin-top: 2em
}
.border{
  border: ;
}
/*footer*/
.footer-wrap{
  width:100%;
  height: 200px;
}
.footer-left{
  width: 10%;
  padding-left: 1em;
}
.footer-center{
  display: none;
}
.footer-right{
  text-align: right;
  padding-left: 390px;
}
}

/*スマホサイズ*/
@media screen and (max-width: 480px) {
  .header-main{
    padding-left: 0;
    padding-top: 0em;
    width: 100%;
  }
.header-sub p{
  padding-top: 3em;
  font-size: 30px;
}
.header-sub h1{
  font-size: 22px;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 0;
}
.header-left{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.header-text{
  width: 100%;
  padding-left: 1em;
  text-align: center;
}
.header-text h4{
  font-size: 20px;
}
.main-text{
  padding-top: 0;
}
.main-text p{
  width: 70%;
}
.apli{
  width: 100%;
  flex-flow: column;
  text-align: center;
  margin: 0 auto;
}
.apli h2{
  order: 2;
  font-size: 30px;
  width: 300px;
  margin: 0 auto;
  padding-left: 0;
}
.apli img{
  order: 1;
  width: 60%;
  padding-left: 8em;
}
.right{
  display: none;
}
.bar{
  width: 100%;
}
.download{
  padding-left: 2.4em;
  padding-top: 1em;
  align-items: center;

}
.header-text h3{
  padding-left: 0;
}
.introdaction-wrap{
  padding-top: 0;
  height: 800px;
}
.introdaction-title{
  padding-top: 11em;
  padding-bottom: 2em;
}
.introdaction-text-right{
  display: none;
}
.introdaction-text-right-two {
  display: none;
}
.introdaction-text-right-three {
  display: none;
}
.introdaction-text-left{
  width: 100%;
  margin: 0 auto;
  padding-left: 3em;
}
.introdaction-two{
  padding-top: 5em;
}
.introdaction-three{
  padding-top: 5em;
  height: 700px;
}
.introdaction-main p{
  width: 90%;
}
.introdaction-text-left-two {
  width: 100%;
  margin: 0 auto;
  padding-left: 3em;
}
.introdaction-main-two p {
  width: 100%;
}
.introdaction-text-left-three {
  width: 100%;
  margin: 0 auto;
  padding-left: 3em;
}
.introdaction-main-three p {
  width: 90%;
}
.introdaction-height{
  height: 1800px;
}
.howto-title img{
  width: 50%;
}
.howto-icon{
  padding-left: 0;
}
.ios{
  padding-left: 1em;
}
.ios img{
  width:95%;
}
.QA-main p{
  line-height: 1.5;
}
.news-title{
  padding-top: 2em;
}
.news-main{
  text-align: center;
  padding-right: 2em;
  padding-bottom: 0;
}
.text{
  font-size: 14px;
  line-height: 3;
}
.footer-wrap{
  height: 300px;
}
.footer-main{
  display: block;
}
.footer-center{
  display: none;
}
.footer-right{
  padding-left: 10em;
  padding: 0;
  text-align: left;
}
.footer-right p{
  padding-top: 1em;
  padding-left: 2em;
}
.footer-left p{
  padding-left: 0;
}
.mail {
  padding-left: 1em;
}
}