@charset "UTF-8";

@media screen and (max-width: 1024px) {
  html{
    width: 100%;
  }
  .header-list li{
    font-size: 20px;
    padding-left: 2em;
  }
  .header-icon{
    padding-left: 1em;
  }
  .header-icon img{
    width: 90%;
  }
  .header-sub h1{
    width: 1000px;
    letter-spacing: 10px;
  }
  .header-sub span{
  }
  .header-main{
    padding-left: 0;
    height: 620px;
  }
  .main-text p{
    width: 70%;
  }
  .right img{
    width: 90%;
  }
  .download{
    padding-left: 10em;
  }
  .download img{
    width: 45%;
  }
  .main-text{
    padding-top: 0;
  }
  .introdaction-main{
    width: 100%;
  }
  .introdaction-text-left{
    width: 30%;
  }
  .introdaction-main-two{
    width: 100%;
    padding-right: 4em;
  }
  .introdaction-text-left-two{
    width: 30%;
  }
  .howto-icon{
    padding-left: 19em;
  }
  .footer-center{
    padding-left: 10em;
  }
}
@media screen and (max-width: 768px) {
  header .drawer {
      visibility: visible;
      width: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      border-top: solid 4px #dcdcdc;
      cursor: pointer;
      z-index: 100;
    }
    header .drawer::before,
    header .drawer::after {
      content: "";
      display: block;
      width: 24px;
      background: #dcdcdc;
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.5s;
    }
    header .drawer::before {
      top: 6px;
    }
    header .drawer::after {
      top: 15px;
    }
    header .header-list{
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 50;
      background: rgb(31, 80, 255);
      opacity: 0.9;
    }
    header .header-list ul{
      display: block;
    }
    header .header-list ul li{
      margin: 8% auto;
      text-align: center;
      color: rgba(248, 250, 255, 1);
      font-size: 25px;
      font-weight: 500;
    }
    header .header-list ul li a{
      line-height: 3;
      font-size: 1.75rem;
    }
    header .header-list ul li.contact{
      width: 30%;
    }
    body.nav-open header .drawer {
      border-top: 0;
    }
    body.nav-open header .drawer::before {
      top: 9px;
      transform: rotate(-45deg);
    }
    body.nav-open header .drawer::after {
      top: 9px;
      transform: rotate(45deg);
    }

/*メイン*/
html{
  width: 100%;
}
.header-icon{
  padding-left: 0;
}
.header-sub{
  width: 98%;
}
.header-sub p{
  padding-top: 2.5em;
}
.header-sub h1{
  font-size: 50px;
  padding-left: 1em;
  width: 100%;
}
.header-main{
  padding-left: 0;
  justify-content: flex-start;
  background-size: cover;
  height: 600px;
}
.right{
  padding-top: 5em;
  padding-left: 2em;
  width: 100%;
}
.header-left{
  width: 50%;
}
.header-text{
  padding-left: 3em;
}
.header-text h3{
  margin-top: 1em;
}
.apli img{
  padding-left: 0;
}
.download{
  display: flex;
  padding-left: 3em;
  padding-top: 2em;
}
.download img{
  width: 150px;
}
.introdaction-main{
  align-items: flex-start;
}
.introdaction-main-two{
  align-items: flex-start;
}
.introdaction-text-left{
  width: 40%;
  padding-left: 2em;
}
.introdaction-text-left-two{
  width: 43%;
  padding-right: 3em
}
.introdaction-text-right-two{
}
.introdaction-three{
  padding-top: 7em;
}
.introdaction-main-three{
  align-items: flex-start;
}
.howto-wrap{
  padding-top: 8em;
}
.howto-icon{
  margin: 0 auto;
  padding-left: 11em;
}
.QA-main{
  width: 80%;
}
.QA-wrap{
  margin-bottom: 3em;
}
.howto-title img{
  width: 30%;
}
.ios img{
  width: 70%;
}
.android img{
  width: 60%;
}
.news-wrap{
  margin: 0 auto;
  width: 70%
}
.contact-btn{
  margin-top: 2em
}
.border{
  border: 0;
}
/*footer*/
.footer-wrap{
  width:100%;
  height: 200px;
  margin-top: 4em;
}
.footer-left{
  width: 10%;
}
.footer-left p{
  padding-left: 1em;
}
.footer-center{
  display: none;
}
.footer-right{
  text-align: right;
  padding-left: 370px;
}
.copy-light p{
  padding-top: 1em;
}
}

/*スマホサイズ*/
@media screen and (max-width: 480px) {
.header-main{
  padding-left: 0;
  padding-top: 0em;
  width: 100%;
  height: 550px;
}
.header-text h3{
  margin: 0 auto;
}
.header-sub{
  width: 100%;
}
.header-sub p{
  padding-top: 3em;
  font-size: 30px;
  transform: none;
}
.header-sub h1{
  font-size: 22px;
  padding-top: 6em;
  padding-right: 0;
  transform: none;
  letter-spacing: 5px;
}
.header-left{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.header-text{
  width: 100%;
  padding-left: 0.8em;
  text-align: center;
}
.header-text h4{
  font-size: 20px;
}
.main-text{
  padding-top: 0;
}
.main-text p{
  width: 70%;
}
.apli{
  width: 100%;
  flex-flow: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 3em;
}
.apli h2{
  order: 2;
  font-size: 30px;
  width: 300px;
  margin: 0 auto;
  padding-left: 0;
}
.apli img{
  order: 1;
  width: 60%;
  padding-left: 8em;
}
.right{
  display: none;
}
.bar{
  width: 100%;
}
.download{
  padding-top: 1em;
  padding-left: 0;
  justify-content: center;
}
.download img{
  }
.header-text h3{
  padding-left: 0;
}
.introdaction-wrap{
  padding-top: 0;
  height: 850px;
}
.introdaction-title{
  padding-top: 11em;
  padding-bottom: 2em;
}
.introdaction-text-right{
  display: none;
}
.introdaction-text-right-two {
  display: none;
}
.introdaction-text-right-three {
  display: none;
}
.introdaction-text-left{
  width: 100%;
  margin: 0 auto;
}
.introdaction-two{
  padding-top: 10em;
  height: 650px;
}
.introdaction-three{
  padding-top: 5em;
  height: 700px;
}
.introdaction-main p{
  width: 90%;
}
.introdaction-text-left-two {
  width: 100%;
  margin: 0 auto;
  padding-right: 0;
  width: 80%;
}
.introdaction-main-two{
  padding-right: 0;
}
.introdaction-main-two p {
  width: 100%;
}
.introdaction-text-left-three {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.introdaction-main-three p {
  width: 90%;
}
.introdaction-height{
  height: 1800px;
}
.howto-title img{
  width: 50%;
}
.howto-icon{
  padding-left: 0;
}
.ios{
  padding-left: 1em;
  padding-top: 5px;
}
.ios h4{
  padding-top: 1.3em;
}
.ios img{
  width:80%;
}
.bar{
  width: 300px;
}
.QA-main p{
  line-height: 1.5;
}
.news-title{
  padding-top: 2em;
}
.news-main{
  text-align: center;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
.text{
  font-size: 14px;
  line-height: 3;
  padding-left: 0;
}
.footer-wrap{
  height: 300px;
  width: 100%;
}
.footer-main{
  display: block;
}
.footer-center{
  display: none;
}
.footer-right{
  margin-top: 2em;
  padding: 0;
  text-align: center;
}
.footer-right p{
  padding-top: 0;
  padding-left: 1em;
  line-height: 30px;
}
.footer-left{
  width: 100%;
  margin: 0 auto;
}
.footer-left p{
  padding-left: 0;
  margin: 0 auto;
}
}